<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.demo.dao.TbStudentQualityMapper" >
  <resultMap id="BaseResultMap" type="com.hand.demo.entity.TbStudentQuality" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="quality_id" property="qualityId" jdbcType="INTEGER" />
    <result column="quality_name" property="qualityName" jdbcType="VARCHAR" />
    <result column="quality_score" property="qualityScore" jdbcType="INTEGER" />
    <result column="quality_date" property="qualityDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, student_id, student_name, quality_id, quality_name, quality_score, quality_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hand.demo.entity.TbStudentQualityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_student_quality
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_student_quality
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_student_quality
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hand.demo.entity.TbStudentQualityExample" >
    delete from tb_student_quality
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hand.demo.entity.TbStudentQuality" >
    insert into tb_student_quality (id, student_id, student_name, 
      quality_id, quality_name, quality_score, 
      quality_date)
    values (#{id,jdbcType=BIGINT}, #{studentId,jdbcType=BIGINT}, #{studentName,jdbcType=VARCHAR}, 
      #{qualityId,jdbcType=INTEGER}, #{qualityName,jdbcType=VARCHAR}, #{qualityScore,jdbcType=INTEGER}, 
      #{qualityDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hand.demo.entity.TbStudentQuality" >
    insert into tb_student_quality
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="qualityId != null" >
        quality_id,
      </if>
      <if test="qualityName != null" >
        quality_name,
      </if>
      <if test="qualityScore != null" >
        quality_score,
      </if>
      <if test="qualityDate != null" >
        quality_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="qualityId != null" >
        #{qualityId,jdbcType=INTEGER},
      </if>
      <if test="qualityName != null" >
        #{qualityName,jdbcType=VARCHAR},
      </if>
      <if test="qualityScore != null" >
        #{qualityScore,jdbcType=INTEGER},
      </if>
      <if test="qualityDate != null" >
        #{qualityDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hand.demo.entity.TbStudentQualityExample" resultType="java.lang.Integer" >
    select count(*) from tb_student_quality
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_student_quality
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=BIGINT},
      </if>
      <if test="record.studentName != null" >
        student_name = #{record.studentName,jdbcType=VARCHAR},
      </if>
      <if test="record.qualityId != null" >
        quality_id = #{record.qualityId,jdbcType=INTEGER},
      </if>
      <if test="record.qualityName != null" >
        quality_name = #{record.qualityName,jdbcType=VARCHAR},
      </if>
      <if test="record.qualityScore != null" >
        quality_score = #{record.qualityScore,jdbcType=INTEGER},
      </if>
      <if test="record.qualityDate != null" >
        quality_date = #{record.qualityDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_student_quality
    set id = #{record.id,jdbcType=BIGINT},
      student_id = #{record.studentId,jdbcType=BIGINT},
      student_name = #{record.studentName,jdbcType=VARCHAR},
      quality_id = #{record.qualityId,jdbcType=INTEGER},
      quality_name = #{record.qualityName,jdbcType=VARCHAR},
      quality_score = #{record.qualityScore,jdbcType=INTEGER},
      quality_date = #{record.qualityDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hand.demo.entity.TbStudentQuality" >
    update tb_student_quality
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="qualityId != null" >
        quality_id = #{qualityId,jdbcType=INTEGER},
      </if>
      <if test="qualityName != null" >
        quality_name = #{qualityName,jdbcType=VARCHAR},
      </if>
      <if test="qualityScore != null" >
        quality_score = #{qualityScore,jdbcType=INTEGER},
      </if>
      <if test="qualityDate != null" >
        quality_date = #{qualityDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hand.demo.entity.TbStudentQuality" >
    update tb_student_quality
    set student_id = #{studentId,jdbcType=BIGINT},
      student_name = #{studentName,jdbcType=VARCHAR},
      quality_id = #{qualityId,jdbcType=INTEGER},
      quality_name = #{qualityName,jdbcType=VARCHAR},
      quality_score = #{qualityScore,jdbcType=INTEGER},
      quality_date = #{qualityDate,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>